/*Applies borders and padding to tables that have the class of .bordered applied*/
table.bordered, table.bordered th, table.bordered td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 0.5rem;
}

/*Hides the 'last modified' information */
.ion-padding-bottom.addon-mod_page-timemodified.ng-star-inserted {
 display: none; 
}

/*adds a margin below tables*/
table {
   margin-bottom: 0.5rem; 
}

/*Where the tabbed filter is used, this hides the bulleted list, so the contents of the tabs are just shown as linear text - relies on each tab having a proper heading at the top of the tab*/
#filter-tabs-titlegroup-1, #filter-tabs-titlegroup-1-printable {
  display: none;
}

/*Changes the appearance of headings that appear within questions, within things like quizzes, and the front page cards*/
.sc-ion-label-md-s h1, .sc-ion-label-ios-s h1{
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}
.sc-ion-label-md-s h2, .sc-ion-label-ios-s h2{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.sc-ion-label-md-s h3, .sc-ion-label-ios-s h3{
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.sc-ion-label-md-s h4, .sc-ion-label-ios-s h4{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.sc-ion-label-md-s h5, .sc-ion-label-ios-s h5{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
/*Changes the font size for paragraph text to 1 rem, and adds a margin below it.*/
.sc-ion-label-md-s p, .sc-ion-label-ios-s p {
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

/*Removes the underlining from hyperlinks*/
.core-anchor, core-format-text a {
    text-decoration: none;
}

 /*creates flex box for the front page buttons*/
  .frontpage-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  
  /*The front page buttons use the following section of CSS for their general behaviour, then use color1, color 2 (below) to specify the starting colour*/
  .frontpage-item {
  display: flex;
   align-items: center;
  justify-content: center;
   width: 220px;
   height: 75px;
  margin: 5px;
  color:white !important;
  }
  
  .frontpage-item:hover {
   background-color: #80edb2;
  }
  
  /*The LARGE front page buttons use the following section of CSS for their general behaviour, then use color1, color 2 (below) to specify the starting colour*/
  .frontpage-item-large {
  display: flex;
   align-items: center;
  justify-content: center;
   width: 330px;
   height: 100px;
  margin: 5px;
  border-radius: 10px;
  color:white !important;
  box-shadow: 10px 10px 5px grey;
  }
  
  .frontpage-item-large:hover {
   background-color: #80edb2;
  }
  
  .color1{
  background-color: #52adf5;
  }
  .bordercolor1{
  border-color: #52adf5;
  }
  
  .color2{
  background-color: #281e32;
  }
  
  .color3{
  background-color: #66d463;
  }
  .bordercolor3{
  border-color: #66d463;
  }
  
  .color4{
  background-color: #75b62a;
  }
  
  .color5{
  background-color: #302682;
  }
  
  .color6{
  background-color: #2250e3;
  }
  
  .color7{
  background-color: #000000;
  }
  
  .color8{
  background-color: #999999;
  }
  
  /*This is the grey color for buttons under development*/
  .color0{
  background-color: #999999;
  font-size: 14px !important;
  }
  
  /*End of the front page buttons section*/

  /*experimenting with creating a card mechanism for the front page: using information from https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/*/
  .Marketingcards {
      display: flex;
      flex-wrap: wrap;
  }
  
  .Marketingcard {
      flex: 1 0 500px;
      box-sizing: border-box;
      margin: 1rem .25em;
      border-color: #d7dfe3;
background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  min-width: 15em;
  }
  
  @media screen and (min-width: 40em) {
  
      .Marketingcard {
   max-width: calc(50% -  1em);
      }
  }
  
  @media screen and (min-width: 60em) {
      .Marketingcard {
      max-width: calc(25% - 1em);
      }
  }
  
  /*End of experimenting with marketing cards*/

/*Box used to put authored by into*/
.AuthoredBy {
    padding: 0.4rem;
    margin: 1rem;
    background-color: #f2f4f5;
    box-shadow: 3px 3px #68d565;
    border-color: #68d565;
    border-radius: 10px;
    border-style: solid;
    min-height: 90px;
}

/*Mechanism for adding right floating icons to content*/
/*This decides how the icons behave*/
.WT_Icon {
 margin-left: 1rem;
 margin-right: 1rem;
}

/*Sets if floating right or left*/
 .FloatRight {float:right;}
 .FloatLeft {float:left;}

/*This sets the icon width*/
.W50px {width: 50px}
.W75px {width: 75px}
.W100px {width: 100px}
.W10pc {width: 10%;}
.W20pc {width: 20%;}
.W25pc {width: 25%;}
.W30pc {width: 30%;}

div.WT_Icon img {
object-fit: contain;
width: 100%;
}

/*Makes the image round*/
.ImageRound {
   border-radius: 50%;
}

/*Each icon has a unique class and file URL*/
.EmmaCarney {
    content: url("https://education.triathlon.org/pluginfile.php/11447/user/icon/moove/f1");
}

 /*Creates an aside containing the Tactical Considerations items <aside class="TacticalConsiderations"></aside>*/
  .TacticalConsiderations {
   width: 100%;
   padding: .4rem;
   margin: 1rem;
   float: right;
   background-color: #f2f4f5;
  box-shadow: 3px 3px;
  border-radius: 10px;
  border-style: solid;
  }

/*adds the Tactical Consideratons icon to items that have the subclass of TacticalConsiderations added*/
.TacticalConsiderations::before {
    content: url("https://moodle-assets.triathlon.org/Icons/7727560_strategy_business_chess_management_finance_icon.png");
float: right;
margin:0.3rem;
}

.SessionPlanOuter {
border-style: solid;
    border-color: #000000;
    border-width: 0.4rem;
    border-radius: 1.2rem;
   padding: .4rem;
}
.SessionPlanItem {
    position:relative;
    border-style: solid;
    border-color: #E6E6E6;
    background-color: #FAFAFA;
    border-width: 0.35rem;
    border-radius: 1.2rem;
    margin: 0.5rem;
    padding: 10px;
}
.SessionPlanHeading {
    min-height: 50px;
    margin-top: 15px;
}

/*adds the skill description icon to items that have the subclass of Description added*/
.SessionPlanItem.Description::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727557_skill_transferring_brain_human_head_iconA9D0F5.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Description {
    border-color: #A9D0F5;
}

/*adds the Preparation of skill icon to items that have the subclass of Preparation added*/
.SessionPlanItem.Preparation::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727565_solution_solve_hands_business_gear_icon81BEF7.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Preparation {
    border-color: #81BEF7;
}

/*adds the Progression icon to items that have the subclass of Progression added*/
.SessionPlanItem.Progression::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727569_decision_arrows_traffic_direction_business_icon58ACFA.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Progression {
    border-color: #58ACFA
;
}

/*adds the Focus icon to items that have the subclass of Focus added*/
.SessionPlanItem.Focus::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727534_vision_eye_view_business_focus_icon2E9AFE.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Focus {
    border-color: #2E9AFE;
}

/*adds the Drills and Equipment icon to items that have the subclass of Drills added*/
.SessionPlanItem.Drills::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727582_management_gear_wheel_time_equipment_icon0080FF.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Drills {
    border-color: #0080FF;
}

/*adds the Fault Fixers icon to items that have the subclass of Fixers added*/
.SessionPlanItem.Fixers::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727559_teamwork_wheel_engineering_cogwheel_mechanism_icon0174DF.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Fixers {
    border-color: #0174DF;
}

/*adds the File icon to items that have the subclass of File added*/
.SessionPlanItem.File::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727568_folders_files_business_document_storage_iconTRANSITIONBLUE.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.File {
    border-color: #2250e3;
}

/*adds the Tactical icon to items that have the subclass of Tactical added*/
.SessionPlanItem.Tactical::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727560_strategy_business_chess_management_finance_icon.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Tactical {
    border-color: #000000;
}

/*Adds rounded corners to images*/
.roundedcorners {
   border-radius: 5%;
}
