/*Applies borders and padding to tables that have the class of .bordered applied*/
table.bordered, table.bordered th, table.bordered td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 0.5rem;
}

/*Hides the 'last modified' information */
.ion-padding-bottom.addon-mod_page-timemodified.ng-star-inserted {
 display: none; 
}

/*adds a margin below tables*/
table {
   margin-bottom: 0.5rem; 
}

/*Where the tabbed filter is used, this hides the bulleted list, so the contents of the tabs are just shown as linear text - relies on each tab having a proper heading at the top of the tab*/
#filter-tabs-titlegroup-1, #filter-tabs-titlegroup-1-printable {
  display: none;
}

/*Changes the appearance of headings that appear within questions, within things like quizzes, and the front page cards*/
.sc-ion-label-md-s h1, .sc-ion-label-ios-s h1{
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}
.sc-ion-label-md-s h2, .sc-ion-label-ios-s h2{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.sc-ion-label-md-s h3, .sc-ion-label-ios-s h3{
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.sc-ion-label-md-s h4, .sc-ion-label-ios-s h4{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
}
.sc-ion-label-md-s h5, .sc-ion-label-ios-s h5{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
/*Changes the font size for paragraph text to 1 rem, and adds a margin below it.*/
.sc-ion-label-md-s p, .sc-ion-label-ios-s p {
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

/*Removes the underlining from hyperlinks*/
.core-anchor, core-format-text a {
    text-decoration: none;
}

  /*Creates flex lightbox for images*/
  .flex-container {
   display: flex;
   flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  }
  
   .flexitem {
   margin: 10px;
  padding: 5px;
   border: 3px solid #000;
   border-color: #66d463;
   box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
   max-width: 15vw;
  min-width: 200px;
  }
  
   .flexitemblack {
   margin: 10px;
  padding: 5px;
   border: 3px solid #000;
   border-color: #000000;
   box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
   max-width: 15vw;
  min-width: 200px;
  }

  /*The following code creates cards as per https://www.quackit.com/html/html_editors/scratchpad/?example=/css/flexbox/examples/flexbox_cards_align-items_stretch */
   .modulecards {
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: center;
   }
   article.modulecard {
   flex: 0 0 275px;
   margin: 10px;
   border: 1px solid #ccc;
   box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
   position: relative;
   display: block;
   } 
  article .modulecard img {
   max-width: 100%;
   }
   article.modulecard .text {
   padding: 20px 20px 20px;
   }
   article.modulecard .text > button {
   background: gray;
   border: 0;
   color: white;
   padding: 10px;
   width: 100%;
   }

 /*creates flex box for the front page buttons*/
  .frontpage-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  
  /*The front page buttons use the following section of CSS for their general behaviour, then use color1, color 2 (below) to specify the starting colour*/
  .frontpage-item {
  display: flex;
   align-items: center;
  justify-content: center;
   width: 220px;
   height: 75px;
  margin: 5px;
  color:white !important;
  }
  
  .frontpage-item:hover {
   background-color: #80edb2;
  }
  
  /*The LARGE front page buttons use the following section of CSS for their general behaviour, then use color1, color 2 (below) to specify the starting colour*/
  .frontpage-item-large {
  display: flex;
   align-items: center;
  justify-content: center;
   width: 330px;
   height: 100px;
  margin: 5px;
  border-radius: 10px;
  color:white !important;
  box-shadow: 10px 10px 5px grey;
  }
  
  .frontpage-item-large:hover {
   background-color: #80edb2;
  }
  
  .color1{
  background-color: #52adf5;
  }
  .bordercolor1{
  border-color: #52adf5;
  }
  
  .color2{
  background-color: #281e32;
  }
  
  .color3{
  background-color: #66d463;
  }
  .bordercolor3{
  border-color: #66d463;
  }
  
  .color4{
  background-color: #75b62a;
  }
  
  .color5{
  background-color: #302682;
  }
  
  .color6{
  background-color: #2250e3;
  }
  
  .color7{
  background-color: #000000;
  }
  
  .color8{
  background-color: #999999;
  }
  
  /*This is the grey color for buttons under development*/
  .color0{
  background-color: #999999;
  font-size: 14px !important;
  }
  
  /*End of the front page buttons section*/

  /*experimenting with creating a card mechanism for the front page: using information from https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/*/
  .Marketingcards {
      display: flex;
      flex-wrap: wrap;
  }
  
  .Marketingcard {
      flex: 1 0 500px;
      box-sizing: border-box;
      margin: 1rem .25em;
      border-color: #d7dfe3;
      background-color: #ffffff;
      border-style: solid;
      border-width: 2px;
      min-width: 15em;
      max-width: 95%;
      border-radius: calc(0.5rem - 1px);
  }
  
  @media screen and (min-width: 40em) {
  
      .Marketingcard {
   max-width: calc(50% -  1em);
      }
  }
  
  @media screen and (min-width: 60em) {
      .Marketingcard {
      max-width: calc(25% - 1em);
      }
  }
  
  /*End of experimenting with marketing cards*/

/*Box used to put authored by into*/
.AuthoredBy {
    padding: 0.4rem;
    margin: 1rem;
    background-color: #f2f4f5;
    box-shadow: 3px 3px #68d565;
    border-color: #68d565;
    border-radius: 10px;
    border-style: solid;
    min-height: 90px;
}

/*Mechanism for adding right floating icons to content*/
/*This decides how the icons behave*/
.WT_Icon {
 margin-left: 1rem;
 margin-right: 1rem;
}

/*Sets if floating right or left*/
 .FloatRight {float:right;}
 .FloatLeft {float:left;}

/*This sets the icon width*/
.W50px {width: 50px}
.W75px {width: 75px}
.W100px {width: 100px}
.W10pc {width: 10%;}
.W20pc {width: 20%;}
.W25pc {width: 25%;}
.W30pc {width: 30%;}

div.WT_Icon img {
object-fit: contain;
width: 100%;
}

/*Makes the image round*/
.ImageRound {
   border-radius: 50%;
}

/*Each icon has a unique class and file URL*/
.EmmaCarney {
    content: url("https://education.triathlon.org/pluginfile.php/11447/user/icon/moove/f1");
}

 /*Creates an aside containing the Tactical Considerations items <aside class="TacticalConsiderations"></aside>*/
  .TacticalConsiderations {
   width: 100%;
   padding: .4rem;
   margin: 1rem;
   float: right;
   background-color: #f2f4f5;
  box-shadow: 3px 3px;
  border-radius: 10px;
  border-style: solid;
  }

/*adds the Tactical Consideratons icon to items that have the subclass of TacticalConsiderations added*/
.TacticalConsiderations::before {
    content: url("https://moodle-assets.triathlon.org/Icons/7727560_strategy_business_chess_management_finance_icon.png");
float: right;
margin:0.3rem;
}

.SessionPlanOuter {
border-style: solid;
    border-color: #000000;
    border-width: 0.4rem;
    border-radius: 1.2rem;
   padding: .4rem;
}
.SessionPlanItem {
    position:relative;
    border-style: solid;
    border-color: #E6E6E6;
    background-color: #FAFAFA;
    border-width: 0.35rem;
    border-radius: 1.2rem;
    margin: 0.5rem;
    padding: 10px;
}
.SessionPlanHeading {
    min-height: 50px;
    margin-top: 15px;
}

/*adds the skill description icon to items that have the subclass of Description added*/
.SessionPlanItem.Description::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727557_skill_transferring_brain_human_head_iconA9D0F5.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Description {
    border-color: #A9D0F5;
}

/*adds the Preparation of skill icon to items that have the subclass of Preparation added*/
.SessionPlanItem.Preparation::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727565_solution_solve_hands_business_gear_icon81BEF7.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Preparation {
    border-color: #81BEF7;
}

/*adds the Progression icon to items that have the subclass of Progression added*/
.SessionPlanItem.Progression::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727569_decision_arrows_traffic_direction_business_icon58ACFA.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Progression {
    border-color: #58ACFA
;
}

/*adds the Focus icon to items that have the subclass of Focus added*/
.SessionPlanItem.Focus::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727534_vision_eye_view_business_focus_icon2E9AFE.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Focus {
    border-color: #2E9AFE;
}

/*adds the Drills and Equipment icon to items that have the subclass of Drills added*/
.SessionPlanItem.Drills::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727582_management_gear_wheel_time_equipment_icon0080FF.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Drills {
    border-color: #0080FF;
}

/*adds the Fault Fixers icon to items that have the subclass of Fixers added*/
.SessionPlanItem.Fixers::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727559_teamwork_wheel_engineering_cogwheel_mechanism_icon0174DF.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Fixers {
    border-color: #0174DF;
}

/*adds the File icon to items that have the subclass of File added*/
.SessionPlanItem.File::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727568_folders_files_business_document_storage_iconTRANSITIONBLUE.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.File {
    border-color: #2250e3;
}

/*adds the Tactical icon to items that have the subclass of Tactical added*/
.SessionPlanItem.Tactical::after {
    content: url("https://moodle-assets.triathlon.org/Icons/7727560_strategy_business_chess_management_finance_icon.png");
    position: absolute;
    top: 6px;
    right: 10px;
}
.SessionPlanItem.Tactical {
    border-color: #000000;
}

/*Adds rounded corners to images*/
.roundedcorners {
     border-radius: 1rem;
     padding: 0.4rem;
}

/*Creates the Details/Summary mechanism */
.detailsbordered {
    border-style: solid;
    border-radius: 0.5rem;
    border-width: thin;
    padding: 0.7rem;
    border-color: #ccd1d6;
}
summary {
    font-size: large;
    font-weight: 700;
}

/*Creates the focus item mechanism*/
/*Folder corner ribbon as per https://codepen.io/t_afif/pen/dyZOBex */
.ribbon-2 {
  --f: 1px; /* control the folded part*/
  --r: 5px; /* control the ribbon shape */
  --t: 0px; /* the top offset */
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 5px 10px calc(5px + var(--f)) calc(10px + var(--r));
  background: #566573;
border-radius: 0 0 0 0.5rem;
color: #000000;
}
/*Alternative ribbon appearing top left*/
.ribbon-topleft {
    --f: 1px;
    --r: 5px;
    --t: 0px;
    position: absolute;
    inset: 0 auto auto 0.25px;
    padding: 5px 10px calc(5px + var(--f)) calc(10px + var(--r));
    background: #566573;
    border-radius: 0.5rem 0 0.5rem 0;
    color: #ffffff;
}

/*Creates a lozenge shaped item with an icon on the left, and the name on the right using the ribbon-2 class above*/
.focusitem {
    position: relative;
    margin: 0 0 1.5rem;
    padding: 2.5rem 1rem 1rem 7rem;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background: #F8F8F8;
    border-radius: 0.5rem;
    overflow: hidden;
    border-style: solid;
}
.focusitem:before {
    font-weight: 700;
    color: #fff;
    padding: 0.88rem 1rem;
    margin-right: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: grid;
    place-items: center;
}

.keypoint {
    border-color: #75b62a;
}
.keypoint:before {
content:url("https://moodle-assets.triathlon.org/Icons/7727564_target_focus_arrow_aim_goal_iconWHITE.png"); 
   background: #75b62a;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.keypointribbon {
    background-color: #75b62a;
    color: #ffffff;
}

.toptip {
    border-color: #90c561;
}
.toptip:before {
content:url("https://moodle-assets.triathlon.org/Icons/10227871_idea generation_business and finance_idea_light bulb_key_iconWHITE.png"); 
   background: #90c561;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.toptipribbon {
    background-color: #90c561;
    color: #ffffff;
}

.newwarning {
    border-color: #6D62D0;
    font-weight: 700;
}
.newwarning:before {
content:url("https://moodle-assets.triathlon.org/Icons/216514_warning_iconWHITE.png"); 
   background: #6D62D0;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.newwarningribbon {
    background-color: #6D62D0;
    color: #ffffff;
}

.newsummary {
    border-color:#302682;
}
.newsummary:before {
content:url("https://moodle-assets.triathlon.org/Icons/7727580_clipboard_pen_list_business_paper_iconWHITE.png"); 
   background: #302682;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.newsummaryribbon {
    background-color: #302682;
    color: #ffffff;
}

.knowledge {
    border-color: #2250e3;
}
.knowledge:before {
content:url("https://moodle-assets.triathlon.org/Icons/1608426_circle_question_iconWHITE.png"); 
   background: #2250e3;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.knowledgeribbon {
    background-color: #2250e3;
    color: #ffffff;
}

.learningoutcomes {
    border-color:#302682;
}
.learningoutcomes:before {
content:url("https://moodle-assets.triathlon.org/Icons/10166860_global education_education_learning_university_college_icon.png"); 
   background: #302682;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.learningoutcomesribbon {
    background-color: #302682;
    color: #ffffff;
}

.tactical {
    border-color: #000000;
}
.tactical:before {
content: url("https://moodle-assets.triathlon.org/Icons/7727560_strategy_business_chess_management_finance_iconWHITE.png");
   background: #000000;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.tacticalribbon {
    background-color: #000000;
    color: #ffffff;
}

.author {
    border-color: #566573;
   padding: 2.5rem 1rem 1rem 1rem;
}
/*Add this attribute to the ribbon 2 element to change the background colour*/
.authorribbon {
    background-color: #566573;
    color: #ffffff;
}

/*End of focus item mechanism*/

/* Creates a 2x2 grid eg a SWOT Analysis*/
.grid2by2 {
  display: grid;
  grid-template-columns: 50% 50%;
  border: #000000 3px solid;
  margin-bottom: 0.75rem;
}
/*Creates the cells that go into the 2x2 grid*/
.cell2by2 {
  border: #000000 2px solid;
  min-height: 150px;
  padding: 0.5rem;
}
/*On narrower screens, change the grid so that it displays single column width*/
@media screen and (max-width: 45em) {
      .grid2by2 {
          grid-template-columns: 100%;
      }
  }
/*End of 2x2 grid*/

/* Creates a compare style side by side grid*/
.comparegrid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 0.5rem;
}
/*Creates the cells that go into the comparegrid*/
.compare {
    position: relative;
    border-color: #ccd1d6;
    border-style: Solid;
   border-radius: 0.5rem;
   background: #F8F8F8;
   padding: 2.5rem 1rem 1rem 0.5rem;
   margin: 0.3rem;
}
/*On narrower screens, change the grid so that it displays single column width*/
@media screen and (max-width: 45em) {
      .comparegrid {
          grid-template-columns: 100%;
      }
  }
/*End of comparegrid*/

/*creates the further info details/summary mechanism*/
.FurtherInfo {
    background-color: #FAF4C8;
    padding: 5px;
    border-style: solid;
    border-color:  #000000;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*creates the advanced info details/summary mechanism*/
.AdvancedInfo {
    background-color: #FAE3C8;
    padding: 5px;
    border-style: solid;
    border-color:  #000000;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*Creates the cards where text can overlay the image*/
.Overlay_image-container {
  position: relative;
  display: block;
}
.Overlay_image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.Overlay_TopLeftNumber {
  position: absolute;
  top: 0%; 
  left: 0%; 
  background-color: #2451e2; 
  color: #fff; 
  width: 5.2rem;
  height: 2rem;
  font-size: 20px; 
  text-align: center;
  border-bottom-right-radius: 1rem;
}
.Overlay_Bottom {
  position: absolute; 
  background: rgba(57, 57, 57, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.3rem;
}

 /* colours from the World Triathlon Palette*/
  
  .transitionblue {
  background-color: #2250e3;
  color: #ffffff;
  }
  
  .lawngreen {
  background-color: #66d463;
  colour: #2250e3;
  }
  
  .skyblue {
  background-color: #52adf5;
  color: #ffffff;
  }
  
  .dewgreen {
  background-color: #80edb2;
  colour: #2250e3;
  }
  
  .leafgreen {
  background-color: #75b62a;
  colour: #2250e3;
  }
  
  .mistgrey {
  background-color: #ccd1d6;
  colour: #2250e3;
  }
  
  .cloudwhite {
  background-color: #ffffff;
  colour: #2250e3;
  }
  
  .oceanblue {
  background-color: #302682;
  color: #ffffff;
  }
  
  .deepnavy {
  background-color: #281e32;
  color: #ffffff;
  }
  
  .lavendar {
  background-color: #d4ebfc;
  }
  
  .whitesmoke {
  background-color: #f2f4f5;
  }
  
  .honeydew {
  background-color: #dffbec;
  }

/*Box used to put authored by into*/
.AuthoredBy {
    padding: 0.4rem;
    margin: 1rem;
    background-color: #f2f4f5;
    box-shadow: 3px 3px #68d565;
    border-color: #68d565;
    border-radius: 10px;
    border-style: solid;
    min-height: 90px;
    width: 100%;
    float: right;
}

/*Mechanism for adding right floating icons to content*/
/*This decides how the icons behave*/
.WT_Icon {
 margin-left: 1rem;
 margin-right: 1rem;
}

/*Sets if floating right or left*/
 .FloatRight {float:right;}
 .FloatLeft {float:left;}

/*This sets the icon width*/
.W50px {width: 50px}
.W75px {width: 75px}
.W100px {width: 100px}
.W10pc {width: 10%;}
.W20pc {width: 20%;}
.W25pc {width: 25%;}
.W30pc {width: 30%;}

div.WT_Icon img {
object-fit: contain;
width: 100%;
}

/*Makes the image round*/
.ImageRound {
   border-radius: 50%;
}

/*Each icon has a unique class and file URL*/
.EmmaCarney {
    content: url("https://education.triathlon.org/pluginfile.php/11447/user/icon/moove/f1");
}

/*Each icon has a unique class and file URL*/
.ScottMurray {
    content: url("https://education.triathlon.org/pluginfile.php/7300/user/icon/moove/f1");
}

/*Each icon has a unique class and file URL*/
.FabioRastelli {
    content: url("https://education.triathlon.org/pluginfile.php/112526/user/icon/moove/f1");
}

/*Each icon has a unique class and file URL*/
.FranzStuder {
    content: url("https://education.triathlon.org/pluginfile.php/490/user/icon/moove/f1");
}

/*Each icon has a unique class and file URL*/
.BenEastman {
    content: url("https://education.triathlon.org/pluginfile.php/90457/user/icon/moove/f1");
}
