/*Applies borders and padding to tables that have the class of .bordered applied*/
table.bordered, table.bordered th, table.bordered td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 0.5rem;
}
